{% load static %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1, scale-to-fit=no">
    <meta name="description", content="">
    <meta name="author", content="">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fnts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fnts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

    <!-- My style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    {% block head %}{% endblock%}
  </head>

  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav>
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive"> </div>
      </div>
      </nav>
    PRIVATE DIARY foo
    </div>
    {% block header%}{% endblock %}
    hoge
    {% block contents %}{% endblock %}

    <!-- Footer -->
    <footer>
      <div>
        <p>Copyright &copy; Private Diary 2019</p>
      </div>
      <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
  </body>
</html>
