{% extends 'base.html' %}

{% load static %}

{% block title %}Web 上にあなた専用の日記ページを保存できるサービス | Private Diary{% endblock %}

{% block header%}

<header class="mathhead text-center text-wthite">
  <div class="masthead-content">
    <div class="container">
      <h2 class="display-4">Web Diary</h2>
      <p>Web 上で作成/編集/削除ができる日記</p>
      <a href="#" class="btn btn-primary btn-xl rounded-pillmt-5">LOG IN</a>
    </div>
  </div>
  <div class="bc-circle-1 bg-circle"></div>
  <div class="bc-circle-2 bg-circle"></div>
  <div class="bc-circle-3 bg-circle"></div>
  <div class="bc-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/01.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Web Diary</h2>
          <p>あなたの日記を Web に保存</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/02.jpg' %}" alt="">
          <h2 class="display-4">Web Diary</h2>
          <p>あなたの日記を Web に保存</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="{% static 'img/03.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Membership System</h2>
          <p>会員制の Web 日記サービス</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <p>Diary service</p>
</section>

{% endblock %}
